* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: Arial, sans-serif; */
    font-family: 'Courier New', monospace;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: whitesmoke;
    line-height: 1.6;
  }

  h1 {
    text-align: center;
  }

  p, details {
    padding: 10px;
  }
  
  .container {
    display: flex;
    flex: 1;
  }
  
  .left {
    width: 35%;
    padding: 10px;
  }

  .right {
    width: 64%;
  }
  
  .left form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input, textarea, button {
    padding: 4px;
  }
  
  textarea {
    resize: none;
    height: 80px;
  }

  ul {
    padding: 50px;
  }
  
  footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
  }
  