[Unit]
Description=Lab Checker Web

[Service]
Type=simple
User=root
WorkingDirectory=/root/lab_autocheck/web/
ExecStart=/root/lab_autocheck/web/.venv/bin/python /root/lab_autocheck/web/app.py
Restart=always