<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Lab Checker</title>
</head>
<body>
    <h1>Windows</h1>
    <h3>Укажите требуемые данные в соотвествии с тем, как сделано у Вас.</h3>
    <p>Обратите внимание, поля уже предзаполнены. Если у Вас такие же значения, менять их не обзятельно.</p>
    <form method="post" action="/01" target="test_iframe">
        <input type="hidden" name="lab_id" value="01">
        <label>FW-1 IP:</label>
        <input type="text" name="fw1_lan_ip" placeholder="PfSense IP" value="10.10.10.254">
        <br>
        <label>PfSense Admin username:</label>
        <input type="text" name="pfsense_user" placeholder="PfSense Admin username" value="admin">
        <br>
        <label>PfSense Admin password:</label>
        <input type="text" name="pfsense_pass" placeholder="PfSense Admin password" value="pfsense">
        <br>

        <label>WinSRV IP:</label>
        <input type="text" name="winsrv_ip" placeholder="WinSRV IP" value="10.10.10.1">
        <br>

        <label>Domain Admin name:</label>
        <input type="text" name="winsrv_user" placeholder="Domain Admin name" value="Administrator">
        <br>
        <label>Domain Admin password:</label>
        <input type="text" name="winsrv_pass" placeholder="Domain Admin password" value="eve@1234">
        <br>

        <label>Win7 IP:</label>
        <input type="text" name="win7_ip" placeholder="Win7 IP" value="10.10.10.11">
        <br>
        <label>Win10 IP:</label>
        <input type="text" name="win10_ip" placeholder="Win10 IP" value="10.10.10.12">
        <br>

        <label>Local Admin name:</label>
        <input type="text" name="win_user" placeholder="Local Admin name" value="Admin">
        <br>
        <label>Local Admin password:</label>
        <input type="text" name="win_pass" placeholder="Local Admin password" value="eve@123">
        <br>
        
        <label>Domain User 1 name (Запрет CMD и реестра):</label>
        <input type="text" name="user1"  value="UserSales">
        <br>
        <label>Domain User 1 password:</label>
        <input type="text" name="pass1" value="eve@123">
        <br>

        <label>Domain User 2 name (Запрет Firefox):</label>
        <input type="text" name="user2" value="UserIT">
        <br>
        <label>Domain User 2 password:</label>
        <input type="text" name="pass2" value="eve@123">
        <br>

        <input type="submit" value="Проверить">
    </form>
    <hr>
    <iframe name="test_iframe" width="1000" height="500"></iframe>
</body>
</html>
