<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Lab Checker</title>
</head>
<body>
    <h1>DNS туннелирование</h1>
    <h3>Укажите требуемые данные в соотвествии с тем, как сделано у Вас.</h3>
    <p>Обратите внимание, поля уже предзаполнены. Если у Вас такие же значения, менять их не обзятельно.</p>
    <form method="post" action="/04" target="test_iframe">
        <input type="hidden" name="lab_id" value="03">
        
        <label>FW-1 DMZ IP:</label>
        <input type="text" name="fw1_dmz_ip" placeholder="PfSense IP" value="10.10.10.254">
        <br>

        <label>FW-2 DMZ IP:</label>
        <input type="text" name="fw2_dmz_ip" placeholder="PfSense IP" value="10.10.10.1">
        <br>

        <label>FW-2 LAN IP:</label>
        <input type="text" name="fw2_lan_ip" placeholder="PfSense IP" value="10.10.20.254">
        <br>

        <label>PfSense Admin name:</label>
        <input type="text" name="pfsense_user" placeholder="PfSense Admin name" value="admin">
        <br>
        
        <label>PfSense Admin password:</label>
        <input type="text" name="pfsense_pass" placeholder="PfSense Admin password" value="pfsense">
        <br>

        <label>LAN-Kali IP:</label>
        <input type="text" name="lan_kali_ip" placeholder="LAN-Kali" value="10.10.20.12">
        <br>

        <label>Linux username:</label>
        <input type="text" name="linux_user" placeholder="Linux user" value="root">
        <br>

        <label>Linux password:</label>
        <input type="text" name="linux_password" placeholder="Linux password" value="eve@123">
        <br>

        <label>LAN (Win7) IP:</label>
        <input type="text" name="lan_win7_ip" placeholder="LAN (Win7) IP" value="10.10.20.10">
        <br>

        <label>LAN-DNS-SRV IP:</label>
        <input type="text" name="lan_dns_srv_ip" placeholder="LAN-DNS-SRV IP" value="10.10.20.1">
        <br>

        <label>Windows username:</label>
        <input type="text" name="windows_user" placeholder="Windows user" value="Admin">
        <br>

        <label>Windows password:</label>
        <input type="text" name="windows_password" placeholder="Windows password" value="eve@123">
        <br>

        <input type="submit" value="Проверить">
    </form>
    <hr>
    <iframe name="test_iframe" width="1000" height="500"></iframe>
</body>
</html>
