<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Lab Checker</title>
</head>
<body>
    <h1>DNS туннелирование</h1>
    <h3>Укажите требуемые данные в соотвествии с тем, как сделано у Вас.</h3>
    <p>Обратите внимание, поля уже предзаполнены. Если у Вас такие же значения, менять их не обзятельно.</p>
    <form method="post" action="/06" target="test_iframe">
        <input type="hidden" name="lab_id" value="03">
        
        <label>FW-1 IP:</label>
        <input type="text" name="fw1_lan_ip" placeholder="PfSense IP" value="10.10.10.254">
        <br>

        <label>PfSense Admin name:</label>
        <input type="text" name="pfsense_user" placeholder="PfSense Admin name" value="admin">
        <br>
        
        <label>PfSense Admin password:</label>
        <input type="text" name="pfsense_pass" placeholder="PfSense Admin password" value="pfsense">
        <br>

        <label>WAN-Win7 IP:</label>
        <input type="text" name="wan_win7_ip" placeholder="WAN-Win7 IP" value="10.10.20.0">
        <br>

        <label>WAN-Win10 IP:</label>
        <input type="text" name="wan_win10_ip" placeholder="WAN-Win10 IP" value="10.10.20.1">
        <br>

        <label>Windows username:</label>
        <input type="text" name="windows_user" placeholder="Windows user" value="Admin">
        <br>

        <label>Windows password:</label>
        <input type="text" name="windows_password" placeholder="Windows password" value="eve@123">
        <br>

        <label>Winserver IP:</label>
        <input type="text" name="winserver_ip" placeholder="Winserver IP" value="10.10.10.1">
        <br>

        <label>Windows Server username:</label>
        <input type="text" name="windows_server_user" placeholder="Windows Server username" value="Administrator">
        <br>

        <label>Windows Server password:</label>
        <input type="text" name="windows_server_password" placeholder="Windows Server password" value="eve@1234">
        <br>

        <input type="submit" value="Проверить">
    </form>
    <hr>
    <iframe name="test_iframe" width="1000" height="500"></iframe>
</body>
</html>
