<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Lab Checker</title>
</head>
<body>
    <h1>Список лабораторных</h1>

    <ul>
        <li>
            <a href="01">01_Windows</a>
        </li>
        <li>
            <a href="">02_Zhurnal_Windows #TODO</a>
        </li>
        <li>
            <a href="">03_PfSense #TODO</a>
        </li>
        <li>
            <a href="">04_Proxy #TODO</a>
        </li>
        <li>
            <a href="">05_VPN #TODO</a>
        </li>
        <li>
            <a href="">05_VPN_na_PfSense #TODO</a>
        </li>
        <li>
            <a href="">07_Dopolnenie_k_VPN_na_PfSense #TODO</a>
        </li>
        <li>
            <a href="">08_ICMP_i_DNS #TODO</a>
        </li>
    </ul>

    <!-- <form method="get" action="/execute">
        <input type="text" name="command" placeholder="Введите вашу команду здесь">
        <input type="submit" value="Выполнить команду">
    </form> -->
</body>
</html>
