<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Lab Checker</title>
</head>
<body>
    <h1>Список лабораторных работ</h1>

    <ul>
        <li>
            <a href="01">01_Windows</a>
        </li>
        <li>
            <a href="">02_Zhurnal_Windows #TODO</a>
        </li>
        <li>
            <a href="03">Базова схема PfSense</a>
        </li>
        <li>
            <a href="04">ICMP туннелирование</a>
        </li>
        <li>
            <a href="">05_VPN #TODO</a>
        </li>
        <li>
            <a href="">05_VPN_na_PfSense #TODO</a>
        </li>
        <li>
            <a href="">07_Dopolnenie_k_VPN_na_PfSense #TODO</a>
        </li>
        <li>
            <a href="">08_ICMP_i_DNS #TODO</a>
        </li>
    </ul>

</body>
</html>
