{% extends "base.html" %}

{% block content %}
<h1>{{ lab['name'] }}</h1>
<hr>
<div class="container">
    <form method="post" action="/{{ lab['id'] }}" target="output" class="left">
        <input type="hidden" name="lab_id" value="{{ lab['id'] }}">
        
        {% for key in lab['vars'] %}
        <label>{{ key }}:</label>
        <input type="text" name="{{ key }}" placeholder="{{ key }}" value="{{ lab['vars'][key] }}">
        <br>
        {% endfor %}
        <br>
        <input type="submit" value="Проверить">
    </form>
    
    <iframe name="output" class="right"></iframe>
</div>
{% endblock content %}