{% extends "base.html" %}

{% block content %}
<h1>{{ lab['name'] }}</h1>
<div class="container">
    <form method="post" action="/{{ id }}" target="output" class="left">
        {% for key in lab['vars'] %}
        <label>{{ key | upper | replace("_", " ") }}:</label>
        <input type="text" name="{{ key }}" placeholder="{{ key }}" value="{{ lab['vars'][key] }}">
        <br>
        {% endfor %}
        <br>
        <input type="submit" value="Проверить">
    </form>
    
    <iframe name="output" class="right"></iframe>
</div>
{% endblock content %}