[win]
win7 ansible_host={{ win7_ip }}
win10 ansible_host={{ win10_ip }}

[win:vars]
ansible_user={{ win_user }}
ansible_password={{ win_pass }}

[winsrv]
winsrv ansible_host={{ winsrv_ip }}

[winsrv:vars]
ansible_user={{ winsrv_user }}
ansible_password={{ winsrv_pass }}

[domain:children]
win
winsrv

[domain:vars]
ansible_connection=winrm
ansible_port=5985
domain_admin_user={{ winsrv_user }}
domain_admin_pass={{ winsrv_pass }}
domain_users=[ { 'username': '{{ user1 }}', 'password': '{{ pass1 }}' }, { 'username': '{{ user2 }}', 'password': '{{ pass2 }}' } ]

[pfsense]
fw-1 ansible_host={{ fw1_lan_ip }}

[pfsense:vars]
ansible_connection=ssh
ansible_user={{ pfsense_user }}
ansible_password={{ pfsense_pass }}
fw1_lan_ip={{ fw1_lan_ip }}