[pfsense]
fw1 ansible_host={{ fw1_dmz_ip }}
fw2 ansible_host={{ fw2_lan_ip }}

[pfsense:vars]
ansible_connection=ssh
ansible_user={{ pfsense_user }}
ansible_password={{ pfsense_pass }}
fw1_dmz_ip={{ fw1_dmz_ip }}
fw2_dmz_ip={{ fw2_dmz_ip }}
fw2_lan_ip={{ fw2_lan_ip }}

[linux]
lan-kali ansible_host={{ lan_kali_ip }}
dns-srv ansible_host=10.99.99.1 ansible_ssh_common_args='-o ProxyCommand="sshpass -p {{ linux_password }} ssh -W %h:%p {{ lan_kali_ip }}"'

[linux:vars]
ansible_connection=ssh
ansible_user={{ linux_user }}
ansible_password={{ linux_password }}

[windows]
lan-win7 ansible_host={{ lan_win7_ip }}

[windows:vars]
ansible_connection=winrm
ansible_port=5985
ansible_user={{ windows_user }}
ansible_password={{ windows_password }}

[windows_server]
lan-dns-srv ansible_host={{ lan_dns_srv_ip }}

[windows_server:vars]
ansible_connection=winrm
ansible_port=5985
ansible_user={{ windows_server_user }}
ansible_password={{ windows_server_password }}