[pfsense]
fw1 ansible_host={{ fw1_dmz_ip }}
fw2 ansible_host={{ fw2_lan_ip }}

[pfsense:vars]
ansible_connection=ssh
ansible_user={{ pfsense_user }}
ansible_password={{ pfsense_pass }}
fw1_dmz_ip={{ fw1_dmz_ip }}
fw2_dmz_ip={{ fw2_dmz_ip }}
fw2_lan_ip={{ fw2_lan_ip }}

[windows]
lan-win7 ansible_host={{ lan_win7_ip }}
dmz-win7 ansible_host={{ dmz_win7_ip }}

[windows:vars]
ansible_connection=winrm
ansible_port=5985
ansible_user={{ windows_user }}
ansible_password={{ windows_password }}