[Unit]
Description=Lab Checker Web
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/lab_autocheck/web/
ExecStartPre=/bin/bash -c '[ "$(curl ifconfig.me >/dev/null 2>&1 && echo online || echo offline)" = "online" ] && git pull || echo "No Internet, skipping git pull"'
ExecStart=/root/lab_autocheck/web/.venv/bin/python /root/lab_autocheck/web/app.py
Restart=always

[Install]
WantedBy=multi-user.target